<html ng-app="myapp">

<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="index.css" rel="stylesheet">
    <script type="text/javascript" src="javascripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="javascripts/underscore-min.js"></script>
    <script type="text/javascript" src="javascripts/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/angular-ui.min.js"></script>
    <script type="text/javascript" src="javascripts/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script type="text/javascript" src="javascripts/sortable.js"></script>
    <title>TaskQuest</title>
</head>

<body ng-controller="controller">
    <div class="container" style="background: white">
        <h3>Boards</h3>
        <ul ng-repeat="board in boardList">
            <li>{{board.name}} | {{board._id}}  <button ng-click="deleteBoard(board)">Delete</button></li>
        </ul>


        <h3>Tickets</h3>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>User</th>
                        <th>Status</th>
                        <th>CreatedAt</th>
                        <th>UpdatedAt</th>
                        <th></th>
                    </tr>
                </thead>
                <tr ng-repeat="ticket in ticketList">
                    <td>{{ticket.name}}</td>
                    <td>{{ticket.user}}</td>
                    <td>{{ticket.status}}</td>
                    <td>{{ticket.createdAt | date:'yyyy-MM-dd'}}</td>
                    <td>{{ticket.updatedAt | date:'yyyy-MM-dd'}}</td>
                    <td><button>Archive</button><button>Delete</button></td>
                </tr>
            </table>
        </div>
    </div>
    <script src="admin.js">
    </script>

</body>

</html>
